<div class="container">
    <h1>Registro de usuarios </h1>
    <form>
        <div class="mb-3">
          <label for="" class="form-label">Nombre</label>
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Correo</label>
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Contraseña</label>
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>